<table id="indicator">
  <% @json["arrivals"].each do |arrival| %>
  <tr>
    <td class="number"><%= arrival["routeId"] %></td>
    <td><%= arrival["estimatedWait"] %></td>
  </tr>
  <% end %>
</table>