<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= @stop["name"] if @stop %> Buses Live!</title>
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <style type="text/css" media="screen">
   body {
     background-color:#000;
     color:#F00;
     font-family: "Courier New", monospace;
     font-size:1.6em;
     font-weight:bold;
   }
   @media only screen and (min-width : 480px) {
     body {
       font-size: 3.2em;
     }
   }
   table {
     margin:0.2em auto;
   }
   td.number {
     text-align:right;
     padding-right:1em;
   }
   p.stopname {
     text-align: center;
     color: #999;
     font-size:0.5em;
   }
   p.disclaimer {
     font-size:0.4em;
     text-align:center;
     color:#333;
   }
   p.disclaimer a{
     color:#333; 
   }
   p.back {
     padding: 0.5em 0;
     font-size:0.6em;
     text-align:center;
     color:#333;
   }
   p.back a {
     display: block;
     padding: 1em 0;
     color: #ddd;
     text-decoration: none;
     background-color: #151515;
   }
  </style>
  <script type="text/javascript" charset="utf-8">
    if(navigator.userAgent.match("Kindle")) {
      document.write('<style type="text/css">body {color:#FFF}</style>')
    }
  </script>
  <script src="/jquery.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
   function poll() {
     $.ajax({
       url: window.location.href+"/partial",
       error: function(xhr_data) {
         $("table#indicator").replaceWith("<h1>ERROR</h1><p>try reloading page</p>")
       },
       success: function(response) {
         $("table#indicator").replaceWith(response);
         setTimeout(function() { poll(); }, 15000);
       }
     });
   }
   $(document).ready(function() {
     poll()
   });
  </script>
  <script src="/mobile.js"></script>
  <link rel="apple-touch-icon" href="http://colour.abscond.org/<%= Digest::MD5.hexdigest(@stop["smsCode"])[0..5] %>.png" />
</head>

<body>
  <%= erb :indicator_table %>
  <% if @stop %>
      <p class="stopname"><%= @stop["name"] %></p>
  <% end %>
  <p class="back"><a href="/">Search again</a></p>
  <p class="disclaimer">Data sucked from <a href="http://countdown.tfl.gov.uk/">TFL</a> without permission.</p>
</body>
</html>
